*{
    padding: 0;
    margin: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

h1 {
  color: #007acc;
}

header{
    color: black;
    border-radius: 10px;
    position:absolute;
    width: 100%;

    height: 300px;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 0;
    margin: 0;
}
.logo{
    margin: 90px; 
     display: flex;
    align-items: center;
    padding: 10px 20px;
    
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 15%;
    height: 70px;

    position:relative;
    width: 100%;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px rgba(0, 0, 0, 0.1) solid;
    transition: scale 0.2 ease;
    backdrop-filter:blur(4px);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    
    
}
 
.navbar ul{
    display: flex;
    list-style: none;
    gap:30px;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    height: 100vh;
}
.navbar ul li a:hover{
    background-color:  rgb(134, 153, 24);
    padding: 5px 5px;
    border-radius: 20px;
    scale: 1.05;
    
}


.toggle{

    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: 20px;

}
.connect{
    text-decoration: none;
    background-color: rgb(217, 255, 0) ;
    padding: 10px 10px;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    margin-right: 20px;
    transition: scale 0.2 ease;
}
.connect:hover{
    background-color:  rgb(134, 153, 24);
    scale: 1.05;
}
.toggle_menu{
    position: fixed;
    right: 2rem;
    top: 67px;
    width: 300px;
    height: 0;
    background-color: rgb(2, 2, 2);
    backdrop-filter: blur(55px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none;
}
.toggle_menu_open{
    height: 270px;
    z-index: 1000;

}
.toggle_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle_menu .connect{
    width: 90%;
    display: flex;
    justify-content: center;
}

.toggle_menu li a{
     text-decoration: none;
    color: white;
    font-weight: bolder;

}
.toggle_menu li a:hover{
    background-color:  rgb(134, 153, 24);
    padding: 10px 10px;
    border-radius: 20px;
    scale: 1.05;
}









@media (max-width:1070px){
    .navbar,.connect{
        display: none;
    }
    .toggle{
        display: block;
        
    }
    .toggle_menu{
        display: block;
    }

}

@media (max-width:1070px){
   .toggle_menu{
    width: unset;
    left: 2rem;
    

   }
}
