/* Variables */


/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: black;
  background-color: #b2b2b2;
}
html{
    scroll-behavior: smooth;
}
.btn{
    background-color: rgb(217, 255, 0);
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.btn:hover{
    background-color:  rgb(134, 153, 24);
}

p {
  margin: 10px 0;
}

i {
  display: inline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  
}



/* Section colors */
#home {
  background-color: rgb(218, 213, 213);
}
#homes{
    background-image: url('salon-unfocused-avec-une-image-sur-le-mur.jpg');
    background-size: cover;
    display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 2rem;
}
.section{
  background-color: white;
  margin: 20px;
  height: auto;
  padding: 2rem;
}

header{
  z-index: 1000;
  position: absolute;
}
/* Navbar Styling */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  padding: 1.25rem;
  
}

.navbar .logo {
  padding: 1.5rem;
  font-size: 2rem;
}

.navbar .logo a {
  transition: color 0.4s ease-in-out;
}

.navbar .logo a:hover {
  color: var(--secondary-color);
}

.navbar .nav-menu {
  display: flex;
}

.nav-menu .nav-item a {
  display: inline-block;
  padding: 1rem 1.4rem 1rem 1rem;
  width: 100%;
  font-weight: bolder;
  transition: background 0.3s ease;
   color: black;
}

.nav-menu .nav-item a:hover {
  background-color: rgb(134, 153, 24);
  color: black;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.à-louer{
    gap: 10px;
    display: flex;
    background-color:white;
    height: 100%;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.à-louer div{
    background-color:white;
    width: 20%;
    height: 48%;
     border: #555;
     border-top: 2px solid #FFFFFF75;
     border-left: 2px solid #FFFFFF75;
     border-radius: 15px;
    box-shadow:  10px 10px 15px rgba(0.1,0.1, 0.1, 0.1) ;
    padding: 5px;
    overflow: hidden;
    flex-basis: 270px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.à-louer div:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);  
}
.à-louer div img{
    width: 100%;
    height: 200px;
    background-size: cover;    
}

.btn3{
    background-color: rgb(217, 255, 0);
    padding: 5px;
    border-radius: 20px;
    color: white;
}

/* modale */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 999;
  justify-content: center;
  align-items: center;

}

.modal-content {
background: white;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;

}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;

}


/* Responsive */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    /* 
      You can change the position of the navbar 
      ----------------------------------------------------------------------------------
      To succesfully do this, you must change the .nav-menu.active to the chosen position
      * right: -100%;
      * .right-menu.active { right: 0;}
      -----------------------------------------------------------------------------------
    */
    right: -100%;
    top: 0rem;
    flex-direction: column;
    /* This controls the width of the navbar container*/
    width: 50%;
    /* This controls the height of the navbar container */
    height: 100%;
    text-align: right;
    transition: 0.3s;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    /* This controls the background color of the navbar container*/
    background-color: #f4f4f4;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li:first-child {
     margin-top: 4.5rem;
     border-top: 1px solid #ccc;
  }

  .nav-item {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}